* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EAE0D2;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #A68763;
}

header img{
    height: 60px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 200px;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: rgb(24, 11, 1);
}

nav a:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.1s;
}

header h1{
    font-family: "Delius Swash Caps", cursive;
    font-size: 35px;
    text-align: center;
    color: #2d2d2d;
}

#logo_centro{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes_sociais{
    display: flex;
    flex-direction: row;
}

.redes_sociais ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
}

.redes_sociais ul li{
    font-size: 25px;
}

main h3{
    font-family: "Delius Swash Caps", cursive;
    font-size: 25px;
    padding: 20px 0 20px 0;
}

main{
    display: flex;
    flex-direction: column;
}

.sobre_nos{
    text-align: center;
    font-size: 18px;
    padding: 30px 350px 30px 350px;
}

#primeira_imagem{
    padding: 30px;
    padding-bottom: 30px;
    border: double 10px #A68763;
}

.nossos_produtos{
    font-size: 18px;
    text-align: justify;
    padding: 80px 150px 40px 150px;
}

#segunda_imagem{
    width: 600px;
    height: 400px;
    margin: 50px 50px 30px 200px;
    border-radius: 20%;
    border: solid 20px #A68763;
}

.nossos_produtos2{
    display: flex;
    flex-direction: row;
}

.imagens{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: dashed 7px #A68763;
}

.imagens1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 10px 50px 10px;
}

#terceira_imagem{
    width: 1300px;
    height: 400px;
    border-radius: 50%;
    border: inset 20px #A68763;
    /*padding: 20px 100px 20px 300px;*/
}

.nosso_ambiente{
    text-align: center;
    font-size: 18px;
    padding: 70px 100px 30px 100px;
}

.nosso_ambiente2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
}

.espaco{
    width: 800px;
    height: 500px;
    border-radius: 10%;
    border: dashed 7px #A68763;
}

.nosso_ambiente3{
    padding: 20px 80px 30px 80px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A68763;
    color: rgb(24, 11, 1);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}